body
{
    font-size: 18px;
    scroll-behavior: smooth;
    color: var(--black-text);
    font-family: 'Roboto', sans-serif;
}

.container
{
    max-width: 590px;    
}

.nav_links
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #676767;  
    padding-top: 15px;  
}

.nav_links a{
    text-decoration: none;
    color: #676767;
    padding-left: 10px;
}

.main_img
{
    width: 194px;
    height: 182.22px;   
    justify-content: end; 
}

.main_text
{
    font-size: 30px;
    line-height: 41px;
    /* or 137% */
    text-align: center;
    color: #000000;    
}

.align
{
text-align: center;    
}

.reset_btn
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #06415D;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;     
}

.kindly_ignore
{
    font-size: 15px;
    line-height: 22px;    
}

.ship_exp
{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000; 
    font-weight: 400;   
}

.ext_btn
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #06415D;
    border-radius: 4px; 
    border: 2.5px solid #06415D; 
    text-decoration: none;   
}

.exp_row
{
    background: #FBFBFB;    
}

.nav_footer_txt
{
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #676767;
    text-decoration: none;   
    padding-right: 10px; 
}

.txt_dot
{
    margin-right: 10px;    
}

.bottom_txt
{
    font-size: 13px;
    line-height: 27px;
    color: #676767;    
}

.ext_btn_img
{
    padding-right: 0.5rem;
}

hr
{
    color: #EBEBEB;    
}

/*--mobile--*/
@media (max-width: 978px) { 
    .main_text
    {
        font-size: 20px;   
    }
}    



/*--Welcome Page--*/
.hi_txt
{
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
    color: #000000;    
}

.thrill_p
{
    font-size: 15px;
    line-height: 28px;
    color: #000000;    
}

.bullet_img
{
margin-left: -1.5rem;
margin-right: -1.5rem;    
}

.bullet_items
{
    font-size: 15px;
    line-height: 22px;
    color: #3A3A3A;    
}

/*--Confirmed Page--*/
.confirmed_th
{
    font-size: 15px;
    line-height: 22px;
    color: #000000;   
    border-bottom: 0.5px solid #EBEBEB;
}

.confirmed_th p
{
margin-bottom: 0.1rem;    
}

.confirmed_tr
{
    font-size: 15px;
    line-height: 30px;
    color: #676767;    
}

.last_tr
{
    border-bottom: 0.5px solid #EBEBEB;   
}

.total_row
{
    font-size: 15px;
    line-height: 30px;    
}


.reset_btn
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #06415D;
    color: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;     
}

.main_img3
{
    width: 203px;
    height: 182px;    
}


/*--Created Page--*/
.created_row
{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color: #000000;    
}

.created_hd
{
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #676767;    
}


/*--Curation--*/
.desc_col
{
    width: 142px;
    height: 118px;
    left: 0px;
    top: 0px;
    
    background: #F6F6F6;
    border-radius: 8px;    
}

.lrg_img
{
    padding-top: 15px;
    padding-left: 20px;
}

.descr_title
{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    color: #000000;    
}

.descr_price
{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;    
}

.ngn
{
    font-weight: 400;
    font-size: 15px;
}